/*************************** Theme Colours****************************/

// Define theme colour scheme
$theme-color-primary: #ff00ff; 
$theme-color-secondary: #00ffff;
$theme-text-color-primary: #ffffff; 
$theme-text-color-secondary: #cccccc; 
$theme-text-color-light: rgba(255, 255, 255, 0.4);

$theme-bg-primary: #1a233a; 
$theme-bg-secondary: #2a344a;
$theme-bg-light: #3a455a;
$theme-border-color: #adb5bd;
$theme-error: #ff0000;


/*************************** Variables Section. *****************************/
// Create variables to override the default value for variables used in the Bootstrap SCSS files.


/* Override BS5 sass color */
$primary: $theme-color-primary;
$secondary: $theme-bg-light;
$border-color: $theme-border-color;

/*************************** Import Bootstrap  *****************************/
@import "bootstrap/scss/bootstrap.scss";

/*************************** Theme Styles Section ****************************/
@import "theme/styles.scss"

